header {
    text-align: center;
    background-color: rgb(91, 194, 194);
}

nav {
    background-color: aqua;
}

form {
    padding-left: 20px;
    padding-right: 25%;
}

.container-fluid {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: gray;
}

.navbar-toggler,
collapsed {
    background-color: rgb(190, 190, 190);
}

.nav-link,
active {
    font-weight: bold;
}

#songInfo {
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    column-gap: 20px;
    row-gap: 20px;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 50px;
}

@media screen and (max-width: 1380px) {
    .grid-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        grid-auto-rows: minmax(100px, auto);
    }
}

table {
    align-items: center;
}

body {
    height: 100%;
    display: flex;
    margin: 0;
    flex-direction: column;
}

footer {
    text-align: center;
    margin-top: 300px;
    border-style: solid;
    border-color: gainsboro;
    background-color: gainsboro;
    padding: 20px;
    font-family: var(--font);
    position: fixed;
    bottom: 0;
    width: 100%;
}

#form {
    background-color: rgb(164, 164, 164);
    color: #fff;
    border: black;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    position: fixed;
    width: 100%;
    padding-top: 200px;
    padding-bottom: 300px;
}